---
layout: categories
---
<div id="content" class="index">
	{% for category in site.categories %}
		<h3>{{ category[0] }}</h3>
		<ul>
			{% for post in category[1] %}
				<li><a href="{{ post.url }}">{{ post.title }}{% if post.subtitle %}: {{ post.subtitle }}{% endif %}</a></li>
			{% endfor %}
		</ul>
	{% endfor %}
</div>
