---
layout: page
---
<!-- This file is distributed under the same license as the Beste Jekyll Theme.
Copyright (C) 2013-2016 Ruud van Asseldonk
Copyright (C) Numan Demirdöğen <if.gnu.linux@gmail.com>, 2016-2020. -->

<div id="content" class="index">
	<header><h1>Articles</h1></header>
	{% for post in site.posts %}
		{% assign currentdate = post.date | date: "%Y" %}
		{% if currentdate != date %}
			{% unless forloop.first %}{% endunless %}
			<h2 class="inindexh2">{{ currentdate }}</h2>
			{% assign date = currentdate %}
		{% endif %}
		<h3 class="inindexh3"><a href="{{ post.url }}">{{ post.title }}{% if post.subtitle %}: {{ post.subtitle }}{% endif %}</a></h3>
		{% if post.summary %}
			<p>{{ post.summary | strip_html }}
			{% if post.language == 'english' %}
				<a href="{{ post.url }}" class="smcp">read article</a>
			{% else %}
				<a href="{{ post.url }}" class="smcp">yazıyı oku</a></p>
			{% endif %}
		{% endif %}
		{% if forloop.last %}{% endif %}
	{% endfor %}
</div>
