---
layout: tags
---
<div id="content" class="index">
	{% for tag in site.tags %}
		<h3>{{ tag[0] }}</h3>
		<ul>
			{% for post in tag[1] %}
				<li><a href="{{ post.url }}">{{ post.title }}{% if post.subtitle %}: {{ post.subtitle }}{% endif %}</a></li>
			{% endfor %}
		</ul>
	{% endfor %}
</div>
