
<!-- This file is distributed under the same license as the Beste Jekyll Theme.
Copyright (C) 2013-2016 Ruud van Asseldonk
Copyright (C) Numan Demirdöğen <if.gnu.linux@gmail.com>, 2016-2020. -->

<footer>
	<div id="footer">
		<h2>About me</h2>
			<p id="about">
				Father of a lovely dauther, a bookworm, and an engineer...
				Since 2009, I have been using GNU / Linux operating systems, especially Ubuntu.
				In addition to helping users on the local Ubuntu forum within my knowledge,
				I assist with translation and debugging of various free and open source software.
			</p>
		<nav class="smcp">
			<a class="footer" href="/about.html">about</a><br>
			<a class="footer" href="/">articles</a><br>
			<a class="footer" href="/feed.xml">rss</a><br>
			<a class="footer" href={{ site.gitlab }}>{{ site.scm }}</a><br>
			<a class="footer" href="/categories.html">categories</a><br>
			<a class="footer" href="/tags.html">tags</a><br>
		</nav>
		<p id="notices" class="smcp">
			<a class="notices" rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/">Copyleft</a> {{ site.author }}
			<span id="breakdot">&middot;</span>
			<a class="notices" href="https://gitlab.com/numand/numand.gitlab.io">source code</a>
		</p>
	</div>
</footer>
