<!DOCTYPE html>
<!-- This file is distributed under the same license as the Beste Jekyll Theme.
Copyright (C) 2013-2016 Ruud van Asseldonk
Copyright (C) Numan Demirdöğen <if.gnu.linux@gmail.com>, 2016-2020. -->

<html>
	<head>
		<meta charset="utf-8">
		{% if page.title %}
			<title>{{ page.title }}</title>
		{% else %}
			<title>{{ site.author }}</title>
		{% endif %}
		<link href="/assets/favicon.jpg" rel="icon" type="image/jpg">
		<link href="/feed.xml" rel="alternate" type="application/atom+xml">
		<link href="{{ site.url }}{{ page.url }}" rel="canonical">
		<meta name="author" content="{{ site.author }}">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="{{ site.description }}">
		<style>
			{% include page.css %}
			{% include syntax.css %}
		</style>
		{% if page.math == 'yes' %}
			<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.css" integrity="sha384-AfEj0r4/OFrOo5t7NnNe46zW/tFgW6x/bCJG8FqQCEo3+Aro6EYUG4+cU+KJWu/X" crossorigin="anonymous">
			<!-- The loading of KaTeX is deferred to speed up page rendering -->
			<script defer src="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.js" integrity="sha384-g7c+Jr9ZivxKLnZTDUhnkOnsh30B4H0rpLUpJ4jAIKs4fnJI+sEnkvrMWph2EDg4" crossorigin="anonymous"></script>
			<!-- To automatically render math in text elements, include the auto-render extension: -->
			<script defer src="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/contrib/auto-render.min.js" integrity="sha384-mll67QQFJfxn0IYznZYonOWZ644AWYC+Pt2cHqMaRhXVrursRwvLnLaebdGIlYNa" crossorigin="anonymous" onload="renderMathInElement(document.body);"></script>
		{% endif %}
	</head>
