/* This file is distributed under the same license as the Beste Jekyll Theme.
Copyright (C) 2013-2016 Ruud van Asseldonk
Copyright (C) Numan Demirdöğen <if.gnu.linux@gmail.com>, 2016-2020. */

sub, sup, var { line-height: 0; }
sub, sup { word-spacing: 0; margin-left: 0.1em; }
sub { margin-left: -0.1em; }
.sqrt { border-top: 0.08em solid #456; margin-left: -0.04em; position: relative; top: 0.22em; }
.sqrt > span { padding-left: 0.14em; padding-right: 0.1em; position: relative; top: -0.22em; }
.eqn { text-align: center; word-spacing: 0.35em; }
.frac { display: inline-block; vertical-align: middle; }
.numer { border-bottom: 0.08em solid #456; margin-top: -0.18em; padding-bottom: 0.1em; }
.sep { margin-right: 1em; }
