<div class="navbar">
    <a href="{{ site.url }}{{ site.baseurl}}/">Home</a>
    <ul>
		{% for nav in site.data.navlist.navs %}
		<li>
			{% if nav.absolute-link %}
                {% assign nav-url = nav.absolute-link %}
            {% else %}
                {% assign nav-url = site.url | append: site.baseurl | append: "/" | append: nav.link %}
            {% endif %}
            <a href="{{ nav-url }}">{{ nav.name }}</a>
            {% if forloop.last == false %}/{% endif %}
        </li>
        {% endfor %}
    </ul>
    <hr>
</div> 
