/* This file is distributed under the same license as the Beste Jekyll Theme.
Copyright (C) 2013-2016 Ruud van Asseldonk
Copyright (C) Numan Demirdöğen <if.gnu.linux@gmail.com>, 2016-2020. */

* { margin: 0; padding: 0; }
html { font-size: 16px; }

body {
  background-color: #fdf6e3;
  color: #073642;
  border-top: 0.5em solid #657b83;
  padding-top: 0.2em;
  font-family: "Libertinus Sans", sans-serif;
  line-height: 1.4em;
  font-kerning: normal;
  font-variant-ligatures: common-ligatures;
  font-variant-numeric: lining-nums;
}

footer {
  background-color: #073642;
  color: #93a1a1;
}

footer span {
  margin-left: 0.25em;
  margin-right: 0.25em;
}

header {
  font-family: "Libertinus Serif", serif;
  margin-left: 1em;
  margin-right: 1em;
  overflow: hidden;
  text-align: center;
}

h1 {
  font-size: 2.8em;
  font-weight: bold;
  line-height: 2.8rem;
  margin-bottom: 0.7rem;
  padding-top: 2.8rem;
}

h1 > br { display: none; }

h2 { 
  font-family: "Libertinus Serif", serif;
  font-size: 1.4em;
  font-weight: bold;
  line-height: 1em;
  margin-bottom: 0.2rem;
  padding-top: 1.2rem;
  font-variant-ligatures: discretionary-ligatures;
}

.inheaderh2 { 
  font-style: italic;
  line-height: 1.4rem;
  margin-bottom: 1.0rem;
  padding-top: 0.4rem;
  font-variant-ligatures: discretionary-ligatures;
}

.inindexh2 {
  color: #657b83;
  font-size: 2.8em;
  letter-spacing: 1rem;
  margin-bottom: 0.6rem;
  padding-top: 0.8rem;
}

.inteaserh2 {
	margin-bottom: 0.2rem;
	padding-top: 0.5rem;
}

h3 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 0.2em;
  padding-top: 0.4em;
}

.inindexh3 { margin-bottom: -0.4em; }

a {
  color: #859900;
  text-decoration: none;
}

h3 > a { color: inherit; }

.author { color: #cb4b16; }

a:hover { text-decoration: underline; }

.index a { text-decoration: none; }

a.footer { text-decoration: none; }

a.notices { color: #cb4b16; text-decoration: none;}

a.smcp {
  font-family: "Libertinus Serif", serif;
  color: #cb4b16;
  line-height: 0;
  text-decoration: none;
}

#teaser a:after {
  color: #cb4b16;
  content: '\a0»';
}

.index p > a {
  font-family: serif;
  line-height: 0;
}

.index p > a:after { content: '\a0»'; }

p, nav {
  margin-bottom: 1em;
  padding-top: 0.4em;
}

#teaser p:first-child { margin-bottom: 0.3em; }

header > p {
  color: #cb4b16;
  margin-bottom: 0;
  padding-top: 0.5em;
  padding-bottom: 0.9em;
}

table {
  border-spacing: 0;
  margin-bottom: 1em;
  text-align: left;
  border: 1px solid #eee8d5;
}

th {
  padding-top: 0.4em;
}

th, td {
  vertical-align: top;
  padding: 0.4em;
  border-bottom: 1px solid #eee8d5;
}

tr:nth-child(even) {background-color: #eee8d5}

ul, ol { margin-left: 2em; margin-bottom: 1em; }

ol { list-style-type: decimal; margin-top: 1em; }

li { margin-bottom: 0.5em; }
li p { margin-bottom: 0.25em; }
li > p:first-of-type { margin-bottom: 0.5em; }
li > p:last-of-type { margin-bottom: 1em; }

code {
  color: #268bd2;
  font-family: "Fira Code", monospace;
  font-size: 0.8em;
  font-variant-numeric: slashed-zero;
}

code, em, strong { line-height: 1em; }

pre {
  background-color: #eee8d5;
  margin-bottom: 0.6rem;
  margin-top: 0.2rem;
  overflow-x: auto;
  padding: 1rem;
  line-height: 1.4rem;
}

code td.gutter.gl { padding-left: 0; }

pre table { border: none; margin: 0rem; padding: 0rem; }

ul+figure { margin-left: 2em; }

td pre:first-child {
  border: none;
  margin: 0rem;
  padding: 0rem;
  font-family: "Fira Code", monospace;
  font-size:1.0em;
}

.lineno {
  border: none;
  padding: 0rem;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

abbr {
  letter-spacing: 0.03em;
  margin-right: -0.03em;
}

abbr, .smcp {
  font-variant-caps: all-small-caps;
  letter-spacing: 0.1em;
}

blockquote {
  font-family: "Libertinus Serif", serif;
  font-style: italic;
  padding-left: 1em;
  padding-right: 1em;
  margin-top: 1em;
  font-variant-ligatures: discretionary-ligatures;
}

img {
  max-width: 100%;
  height: auto;
  margin-top: -0.2em;
  margin-bottom: -0.6em;
}

#boxshadow {
    position: relative;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    padding: 10px;
    background: inherit;
}

#boxshadow img {
    width: 100%;
    border: 1px solid #8a4419;
    border-style: inset;
}

#content, #teaser, #footer {
  padding: 1.4em;
  max-width: 36em;
  margin-left: auto;
  margin-right: auto;
}

#content { padding-top: 0; }

#teaser-section {
  background-color: #eee8d5;
  color: #002b36;
}

#notices {
  clear: both;
  text-align: center;
  padding-top: 1.8em;
}

.run-in {
  font-variant-caps: small-caps;
  letter-spacing: 0.05em;
}

*::-moz-selection {
  background: #6c71c4;
  color:#fdf6e3;
  text-shadow: none;
}

*::selection {
  background: #6c71c4;
  color:#fdf6e3;
  text-shadow: none;
}

hr { margin-top: -0.7em; margin-bottom: 1em; }

@media(min-width: 400px) {

  #content, #teaser, #footer {
    padding-left: 2em;
    padding-right: 2em;
  }

  nav { text-align: center; }

  nav a {
    margin-left: 1em;
    margin-right: 1em;
    color: #cb4b16;
  }
}

@media(min-width: 470px) {

  html { font-size: 17px; }

  header {
    margin-left: 2.8em;
    margin-right: 2.8em; 
  }

  nav { text-align: center; }

  nav a {
    margin-left: 1em;
    margin-right: 1em;
    color: #cb4b16;
  }
}

@media(max-width: 490px) {

  #breakdot {
    display: block;
    height: 0;
    overflow: hidden;
    width: 0;
  }

  nav { text-align: center; }

  nav a {
    margin-left: 1em;
    margin-right: 1em;
    color: #cb4b16;
  }
}

@media(min-width: 544px) {

  #content, #teaser, #footer {
    padding-left: 2.8em;
    padding-right: 2.8em;
  }

  nav { text-align: center; }

  nav a {
    margin-left:1em;
    margin-right: 1em;
    color: #cb4b16;
  }

  li { margin-left: 0; }
}

@media(min-width: 625px) {
  html { font-size: 18px; }
  h1 > br { display: block; }
}

@media(min-width: 802px) {

  html { font-size: 19px; }

  header {
    margin-top: 1.4em;
    margin-bottom: 1.4em;
  }
}

@media(min-width: 1003px) {
  html { font-size: 20px; }
}

@media(min-width: 1225px) {

  html { font-size: 21px; }

  body { line-height: 1.4em; }

  .index h2 {
    text-align: right;
    letter-spacing: 0.5rem;
    width: 8rem;
    height: 0;
    margin-left: -9.5rem;
    margin-bottom: -0.8rem;
  }

  #footer { max-width: 42em; }

  footer h2 { margin-left: 3rem; }

  footer nav {
    float: left;
    text-align: right;
    width: 8em;
    margin-left: -6em;
  }

  #about {
    float: right;
    text-align: left;
    width: 36em;
    margin-right: 3em;
  }
}

@media(min-width: 1496px) { html { font-size: 22px; } }
@media(min-width: 1736px) { html { font-size: 23px; } }
@media(min-width: 2025px) { html { font-size: 24px; } }
