<!-- This file is distributed under the same license as the Beste Jekyll Theme.
Copyright (C) 2013-2016 Ruud van Asseldonk
Copyright (C) Numan Demirdöğen <if.gnu.linux@gmail.com>, 2016-2020. -->

<section id="teaser-section">
	<div id="teaser">
		{% if page.next.url %}
			{% if page.next.language == 'english' %}
				<p class="smcp">next</p>
			{% else %}
				<p class="smcp">sonraki</p>
			{% endif %}
			<h2 class="inteaserh2">
				{{ page.next.title }}
				{% if page.next.subtitle %}: 
					{{ page.next.subtitle }}
				{% endif %}
			</h2>
			{{ page.next.summary | strip_html }}
				{% if page.next.language == 'english' %}
					<a href="{{ page.next.url }}" class="smcp">read article</a>
				{% else %}
					<a href="{{ page.next.url }}" class="smcp">yazıyı oku</a>
				{% endif %}
		{% else %}
			{% if page.previous.language == 'english' %}
				<p class="smcp">previous</p>
			{% else %}
				<p class="smcp">önceki</p>
			{% endif %}
			<h2 class="inteaserh2">
				{{ page.previous.title }}
				{% if page.previous.subtitle %}: 
					{{ page.previous.subtitle }}
				{% endif %}
			</h2>
			{{ page.previous.summary | strip_html }}
				{% if page.previous.language == 'english' %}
					<a href="{{ page.previous.url }}" class="smcp">read article</a>
				{% else %} 
					<a href="{{ page.previous.url }}" class="smcp">yazıyı oku</a>
				{% endif %}
		{% endif %}
	</div>
</section>
