{% include head.html %}
<!-- This file is distributed under the same license as the Beste Jekyll Theme.
Copyright (C) 2013-2016 Ruud van Asseldonk
Copyright (C) Numan Demirdöğen <if.gnu.linux@gmail.com>, 2016-2020. -->
<body>
	<div id="content">
		<header><h1>Categories</h1></header>
		{{ content }}
		<nav class="smcp">
			<a href="/index.html">articles</a>
			<a href={{ site.gitlab }}>{{ site.scm }}</a>
		</nav>
	</div>
</body>
</html>
