{% include head.html %}
<!-- This file is distributed under the same license as the Beste Jekyll Theme.
Copyright (C) 2013-2016 Ruud van Asseldonk
Copyright (C) Numan Demirdöğen <if.gnu.linux@gmail.com>, 2016-2020. -->
<body>
	<article id="content" itemscope>
		<header>
			<h1>{{ page.title }}</h1>
			{% if page.part %}
				<p class="smcp">{{ page.part }}</p>
			{% endif %}
			{% if page.subtitle %}
				<h2 class="inheaderh2">{{ page.subtitle }}</h2>
			{% endif %}
			<p>
				<a href="/" class="author">
					{% if page.author %}
						{% assign words = page.author | split: " " %}
						{{ words[1] }}, {{ words[0] }}
					{% else %}
						{% assign words = site.author | split: " " %}
						{{ words[1] }}, {{ words[0] }}
					{% endif %}
				</a>
				<br>
				{% if page.language == 'english' %}
					published at {{ page.date | date: "%-d %B, %Y" }}
				{% else %}
					{{ page.date | date: "%-d" }}
					{% assign m = page.date | date: "%B" %}
					{% case m %}
						{% when 'January' %}Ocak,
						{% when 'February' %}Şubat,
						{% when 'March' %}Mart,
						{% when 'April' %}Nisan,
						{% when 'May' %}Mayıs,
						{% when 'June' %}Haziran,
						{% when 'July' %}Temmuz,
						{% when 'August' %}Ağustos,
						{% when 'September' %}Eylül,
						{% when 'October' %}Ekim,
						{% when 'November' %}Kasım,
						{% when 'December' %}Aralık,
					{% endcase %}
					{{ page.date | date: "%Y" }}
				{% endif %}
			</p>
		</header>
		{{ content }}
	</article>
	{% include teaser.html %}
	{% include footer.html %}
</body>
</html>
